.dot{
  background-color: black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-top: 20%;
}

.center{
  display: inline-block;
}

.right1{
  display: inline-block;
  margin-left: 20px;
}
